$def with (torrent_list, organize_filters)
$:render.header(_('Torrent list'))


<div class="panel" id="toolbar">
$:render.part_toolbar()
$if organize_filters:
    $:render.part_organize(organize_filters)
</div>

$:render.part_torrent_list(torrent_list, organize_filters)

$:render.part_auto_refresh()
$:part_stats()

<div class="panel" id="info_panel_div">
    <iframe
    style="border-style:hidden;width:740px;height:200px;"
    id="torrent_info">
    </iframe>
</div>

<br />



<script language='javascript'>
    /*on_click_action = open_details;*/
    on_click_action = on_click_row_js;
    reselect_rows();
    var id = state.selected_rows[0];
    if (id) {
        open_inner_details(id);
    }
</script>

<form id='toolbar_form' method="POST" action="changed by javascript">

</form>

$:render.footer()


