$def with (filters)
<form method="GET" id="category_form">
<input type="hidden" name="sort" value="$get('sort')">
<input type="hidden" name="order" value="$get('order')">
<select name='state' id='state'
    onchange="document.getElementById('category_form').submit()"
    title="$_('Filter on state')">
$for state, num in filters.state:
    <option value="$state"
    $if state == get('state'):
        selected
    >
    $_(state) ($num)
    </option>
</select>
<select name='tracker' id='tracker'
    onchange="document.getElementById('category_form').submit()"
    title="$_('Filter on Tracker')">
<option value="">$_('Trackers')</option>
$for tracker, num in filters.tracker:
    <option value="$tracker"
    $if tracker == get('tracker'):
        selected
    >
    $tracker ($num)
    </option>
</select>

    <input type="image" id='toolbar_refresh'
    src='/static/images/tango/view-refresh.png'
    title='$_('Refresh')'
    >

</form>




