$def with (stats)


<div class="panel"  id='stats_panel'>
    <!--<a href='/config'>-->


<img src="/static/images/tango/connections.png" title="$_('Connections')">$stats.num_connections ($deluge_int(stats.max_num_connections))

<img src="/static/images/downloading16.png" title="$_('Down Speed')">$stats.download_rate  ($deluge_int(stats.max_download))

<img src="/static/images/seeding16.png" title="$_('Up Speed')">$stats.upload_rate  ($deluge_int(stats.max_upload))

<img src="/static/images/dht16.png" title="$_('DHT Nodes')">$stats.dht_nodes




    <!--</a>-->

</div>
