$def with (filters)
<form method="GET" id="category_form">
<input type="hidden" name="sort" value="$get('sort')">
<input type="hidden" name="order" value="$get('order')">
<select name='state' id='state'
    onchange="document.getElementById('category_form').submit()"
    title="$_('Filter on state')">
$for state, num in filters.state:
    <option value="$state"
    $if state == get('state'):
        selected
    >
    $_(state) ($num)
    </option>
</select>
<select name='tracker' id='tracker'
    onchange="document.getElementById('category_form').submit()"
    title="$_('Filter on tracker')"
    style="width:150px"
    >
<option value="">$_('Trackers')</option>
$for tracker, num in filters.tracker:
    <option value="$tracker"
    $if tracker == get('tracker'):
        selected
    >
    $tracker ($num)
    </option>
</select>

<input type="text" name="keyword" value="$get('keyword')" style="width:150px"
title="$_('Filter on a keyword')"
/>

<input type="image" id='toolbar_refresh' name="refresh_organize"
src='/static/images/tango/view-refresh.png'
title='$_('Refresh')'
>

</form>




