docs/build/ export-ignore
docs/source/ export-ignore
/tests/ export-ignore
deluge/scripts/ export-ignore
setup.cfg export-ignore
generate_pot.py export-ignore
gen_web_gettext.py export-ignore
deluge/ui/web/css/*-debug.css export-ignore
deluge/ui/web/js/*-debug.js export-ignore
deluge/ui/web/js/extjs/ext-extensions/ export-ignore
deluge/ui/web/docs/ export-ignore

.gitattributes export-ignore
.gitmodules export-ignore
.gitignore export-ignore
*.py diff=python
