*~
build
.cache
dist
docs/source/modules/deluge*.rst
*.egg-info/
*.dist-info/
*.egg
*.log
__pycache__/
*.py[cod]
*.tar.*
_trial_temp
.tox/
deluge/i18n/*/
deluge.pot
deluge/ui/web/js/*.js
deluge/ui/web/js/extjs/ext-extensions*.js
*.desktop
*.appdata.xml
.build_data*
osx/app
RELEASE-VERSION
.venv*

swagger_ui/package-lock.json
swagger_ui/node_modules/
deluge/ui/web/js/swagger-ui
