[Desktop Entry]
Encoding=UTF-8
Name=Deluge BitTorrent Client
Comment=Bittorrent client written in Python/PyGTK
Exec=deluge
Icon=deluge.xpm
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
