[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Deluge BitTorrent Client
Comment=A GTK BitTorrent client written in Python and C++
Exec=deluge
Icon=deluge.png
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
MimeType=application/x-bittorrent;
