include LICENSE
include README
include README.Packagers
include Makefile
include deluge.desktop
include deluge.png
include msgfmt.py
recursive-include libtorrent/ *
recursive-include glade/ *.glade
recursive-include pixmaps/ *.png *.svg
recursive-include plugins/ *
recursive-include po/ *
