include LICENSE
include README
include deluge.desktop
include deluge.xpm
recursive-include libtorrent/ *
recursive-include glade/ *.glade
recursive-include pixmaps/ *.png
recursive-include plugins/ *
recursive-include po/ *.po, *.pot, POTFILES.in
