include AUTHORS ChangeLog DEPENDS LICENSE  msgfmt.py RELEASE-VERSION version.py
graft docs/man

include deluge/i18n/*.po
recursive-exclude deluge/i18n LC_MESSAGES *.mo

graft deluge/plugins
recursive-exclude deluge/plugins create_dev_link.sh *.pyc

prune deluge/tests
graft deluge/ui/data
graft deluge/ui/gtkui/glade

include deluge/ui/web/index.html
include deluge/ui/web/css/*.css
exclude deluge/ui/web/css/*-debug.css
include deluge/ui/web/js/extjs/*.js
exclude deluge/ui/web/js/extjs/*-debug.js
include deluge/ui/web/js/*.js
exclude deluge/ui/web/js/*-debug.js
graft deluge/ui/web/themes
graft deluge/ui/web/render
graft deluge/ui/web/icons
graft deluge/ui/web/images
