-r requirements.txt
-r docs/requirements.txt
-r requirements-tests.txt
sphinx-autobuild
tox
tox-venv
pre-commit
flake8-blind-except
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-mock
flake8-mutable
