$def with (connect_list, error)

$:render.header(_("Connect to Daemon"))

$:render.admin_toolbar('connect')

<div class="panel" align="left">
$if error:
    <div class="error">$error</div>

<form method="POST">
$for i, uri in enumerate(connect_list):
    <p><input type="radio" name="uri" value="$uri"
    $if i == 0:
        checked
    >$uri</p>
<p>
    <input type="radio" name="uri" value="other">$_("Other"):
    <input type="text" name="other_uri">
</p>

<input type="submit" name="submit" value="$_('Connect')">

</li>
</form>
<br>

</div>
$:render.footer()
