$def with (add_form)
$:render.header(_("Add Torrent"))
<div class="panel">
<form method="POST" action="/torrent/add"  ENCTYPE="multipart/form-data">
<input type="hidden" name="redir" value="$get('redir')">
<div id="torrent_add">
    <div class="form_row">
	<span class="form_label">$_('Url')</span>
	<input type="text" name="url" class="form_input" size=60
        value="$get('url')" >
    </div>
    <div class="form_row">
	<span class="form_label">$_('Upload torrent')</span>
	<input type="file" name="torrent" class="form_input" size=50>
    </div>
<!--
    <div class="form_row">
	<input type="checkbox" name="add_another" class="form_input"
$if get_config('add_another'):
    selected
>
<span class="form_label">$_('Add Another (Stay in add page)')</span>

    </div>
-->
    <div class="form_row">
    <span class="form_label"></span>
    <input type="submit" name="submit"
    value="$_('Submit')" class="form_input">

<h2>Options</h2>
<div class="error">Options are not used yet!</div>

    <h3>$_("Allocation/Location")</h3>
    <table>
    $:add_form.as_table(["download_location", "compact_allocation"])


    </table>

<h3>$_("BandWidth")</h3>
    <table>
$:add_form.as_table(["max_download_speed_per_torrent", "max_upload_speed_per_torrent", "max_connections_per_torrent", "max_upload_slots_per_torrent"])
    </table>
</td>

    <h3>$_("General")</h3>
    <table>
    $:add_form.as_table(["prioritize_first_last_pieces", "add_paused", "default_private"])
    </table>


    </div>
</div>
</form>
</div>
$:render.footer()
