body {
    color: #D1DAE5;
    background-color: #304663;
}

section {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    max-width: 751px;
}

.item {
    flex-grow: 1;
    flex-basis: 250px;
    border-right: 1px dotted #889db8;
}

section > *:first-child {
    flex-basis: 100%;
    border-right: none;
    border-bottom: 1px dotted #889db8;
    padding-bottom: 15px;
}

section > *:last-child {
    border-right: none;
}

.item h2 {
    font-size: 1.4em;
    margin: 0.5em 0 0.5em;
}

.item a {
    color: #D1DAE5;
    text-decoration: underline;
}