$def with (torrent, active_tab)
<!--for iframe in javascript mode.-->
<html>
<head>
    <title>Deluge:$torrent.name</title>
    <link rel="stylesheet" type="text/css" href="/template/static/advanced.css" />
</head>
<body class="inner">

$:render.part_tab_button('details', _("Details"), active_tab)
$:render.part_tab_button('files', _("Files"), active_tab)
$:render.part_tab_button('options', _("Options"), active_tab)

$if active_tab == 'details':
    $:render.tab_meta(torrent)
$if active_tab == 'files':
    $:render.tab_files(torrent)
$if active_tab == 'options':
    $:render.tab_options(torrent)

</body>
</html>
