body {
/*  color: #425570;*/
/*  color: #D1DAE5; */
/*  background-color: #425570;*/
  background-color: #f7f7f7;
}

/* trac tweaks */
#mainnav-deluge {
  margin: 30px 100px 0 100px;
  /* display: none; */
}

div#content {
    margin: 10px 100px 0;
	width: 85%;
}

#search-box {
  color: #FFFFFF;
  display: block;
  float: none;
  margin-right: 5px;
  margin-top: 0;
  position: normal;
  text-align: left;
  white-space: normal;
}

#search-box a {
  display: inline !important;
  padding: 0 3px !important;
}

#search-box a:hover {
  background-color: transparent !important;
}


div#siteheader-search {
    margin: 0;
	margin-bottom: -70px;
    padding: 0;
	padding-right: 5px;
    position: relative;
	left:0px;
	top:-135px;
	color: #D1DAE5;
}

div#siteheader-search a{
  color: #D1DAE5;
}



/* Code style */

pre.wiki, pre.literal-block {
 background: #ffffff;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}

/* Link styles */
:link, :visited {
 text-decoration: none;
/* color: #FFF;*/
 color: #425570;
 border-bottom: 1px dotted #bbb;
}

:link:hover, :visited:hover { background-color: transparent; color: #000 }
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
 color: inherit;
}

h1, h2, h3, h4 {
 color: #2c3f59;
}

/* Main navigation bar */
#mainnav {
 background: #f7f7f7 0 0;
 border: 0px;
 box-shadow: none;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 /*margin: .66em 0 .33em;*/
 padding: .2em 0;
}
#mainnav li { border-right: none; padding: .25em 0 }
#mainnav :link, #mainnav :visited {
 background: 0 0 no-repeat;
 border-right: 1px solid #fff;
 border-bottom: none;
 border-left: 1px solid #555;
 color: #000;
 padding: .2em 20px;
}
* html #mainnav :link, * html #mainnav :visited { background-position: 1px 0 }
* #mainnav :link:hover, #mainnav :visited:hover {
*  background-color: #ccc;
*   border-right: 1px solid #ddd;
*   }
*   #mainnav .active :link, #mainnav .active :visited {
*    background: #2e425d 0 0 repeat-x;
*     border-top: none;
*      border-right: 1px solid #000;
*       color: #FFF;
*        font-weight: bold;
*         text-shadow: none;
*         }
*         #mainnav .active :link:hover, #mainnav .active :visited:hover {
*          border-right: 1px solid #000;
*          }
*
*/* Context-dependent navigation links */
#ctxtnav { height: 1em; margin: 0 100px 0 0; }
#ctxtnav li ul {
 background: #f7f7f7;
 color: #ccc;
 border: 1px solid;
 padding: 0;
 display: inline;
 margin: 0;
}
#ctxtnav li li { padding: 0; }
#ctxtnav li li :link, #ctxtnav li li :visited { padding: 0 1em }
#ctxtnav li li :link:hover, #ctxtnav li li :visited:hover {
 background: #bba;
 color: #fff;
}
dt em {
 border-bottom: 1px dotted #bbb;
 color: #425570;
 font-style: normal;
 text-decoration: none;
}
legend { color: #2c3f59; padding: 0 .25em; font-size: 90%; font-weight: bold }
#ticket {
 background: #fff;
 border: 1px outset #000;
 margin-top: 1em;
 padding: .5em 1em;
 position: relative;
}

#ticket table.properties th {
 color: #2c3f59;
 font-weight: normal;
 text-align: left;
 width: 20%;
}

#ticket table.properties .description { border-top: 1px solid #000 }

#ticket .description h3 {
 border-bottom: 1px solid #000;
 color: #2c3f59;
 font-size: 100%;
 font-weight: normal;
}

#attachments { border: 1px outset #996; padding: 1em; background: #fff; }
#changelog { border: 1px outset #996; padding: 1em; background: #fff; }


table.wiki {
 border: 2px solid #ccc;
 background-color: #fff;
 white-space: nowrap;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target,
span:target {
  background: #cfb;
}

#footer {
 display: none;
 margin: 0;
 padding: 0;
}

