$def with (stats)


<div class="panel"  id='refresh_panel'>
[
$_('Auto refresh:')
$if getcookie('auto_refresh') == '1':
    ($getcookie('auto_refresh_secs')) $_('seconds') &nbsp;
    <a href="/refresh/set">$_('Set')</a>
    <a href="/refresh/off">$_('Disable')</a><!--WRONG, setting things on a GET-->
$else:
    $_('Off') &nbsp;
    <a href="/refresh/on">$_('Enable')</a><!--WRONG, setting things on a GET-->
]


<a href="/config/">$_('Admin')  </a>&nbsp;

</div>

<div class="panel"  id='stats_panel'>
    <!--<a href='/config'>-->


<img src="/static/images/tango/connections.png" title="$_('Connections')">$stats.num_connections ($deluge_int(stats.max_num_connections))

<img src="/static/images/downloading16.png" title="$_('Down Speed')">$stats.download_rate  ($deluge_int(stats.max_download))

<img src="/static/images/seeding16.png" title="$_('Up Speed')">$stats.upload_rate  ($deluge_int(stats.max_upload))

<img src="/static/images/dht16.png" title="$_('DHT Nodes')">$stats.dht_nodes




    <!--</a>-->

</div>

<div id='about'>
   <a href='/about'>$_('About')</a>
</div>



