$def with (torrent)

<form method="POST" action="$base/torrent/files/$torrent.id">
<input type="hidden" name="redir" value="$self_url()">
<table width="95%">

$altrow(True)
<tr class="tab_$altrow()">
    <th width="100%">$_("File")</th>
    <th width="50px">$_("Size")</th>
    <th width="50px">$_("Progress")</th></tr>
$for i, file in enumerate(torrent.files):
    <tr class="tab_$altrow()"  >
    <td title="$file['path']">
    <input type="checkbox" name="file_priorities" id="file_priorities" value="$i"
    $if (torrent.file_priorities[i]):
        checked
    >
    $(crop_left(file["path"], 60))
    </td>
        <td>$fsize(file["size"])</td>
        <td align="right">$int(torrent.file_progress[i] * 100)%</td>
    </tr>
</table>
<input type="submit" value="$_('Update')" name="submit_files">
</form>

