$def with (torrent_list, organize_filters)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Deluge:$_('Torrent list')</title>
    <link rel="icon" href="$base/static/images/deluge_icon.gif" type="image/gif" />
    <link rel="shortcut icon" href="$base/static/images/deluge_icon.gif" type="image/gif" />
    <link rel="stylesheet" type="text/css" href="$base/template_style.css" />
    <script language="javascript" src="$base/static/deluge.js"></script>
</head>

<body>
<div id="page">

<table width="100%"><tr>
<td>
    <div id="home_top">
        <a class="tab_button_active" href='$base/home'>Home</a>
    $for id, title, url in admin_pages:
        <a class="tab_button" href='$base$url'>$title</a>


</td><td>

</td><td align="right" width="320px">
    $:part_stats()
</td></tr></table>

<hr>


$if organize_filters:
    $:render.part_organize(organize_filters)



<table id="torrent_list_block" width="70%">
<tr><td>
    <div id="toolbar">
    $:render.part_toolbar()
    </div>
</td></tr><tr><td>
    $:render.part_torrent_list(torrent_list, organize_filters)

</td></tr><tr><td height=100%>



</td></tr>
</table>

<div class="panel" id="info_panel_div" style="width:740px;">
    <iframe
    style="border-style:hidden;width:740px;height:200px;"
    id="torrent_info">
    </iframe>
</div>



<br />




<script language='javascript'>
    /*on_click_action = open_details;*/
    on_click_action = on_click_row_js;
    reselect_rows();
    var id = state.selected_rows[0];
    if (id) {
        open_inner_details(id);
    }
</script>

<form id='toolbar_form' method="POST" action="changed by javascript">

</form>

$:render.footer()


