$def with (filters)
<form method="GET" id="category_form">
<input type="hidden" name="sort" value="$get('sort')">
<input type="hidden" name="order" value="$get('order')">

<div id="organize_block">
<div id="organize_state">
<div class="title">$_('State')</div>
<ul>
$for state, num in filters.state:
    $if (num > 0) or (state == get('state')):
        <li
        $if state == get('state'):
            class="selected"
        >
        <img src="$base/pixmaps/$state.lower() ">
        <a href="$self_url(state=state)">$_(state) ($num)</a>
        </li>
    $else:
        <!--ignore states with no count $state -->
</ul>

<div class="title">$_('Trackers')</div>
<ul>
    <li
    $if not get('tracker'):
         class="selected"
    >
    <a href="$self_url(tracker='')" title="$_('All')">$_("All")</a>
    </li>
$for tracker, num in filters.tracker:
    <li
    $if tracker == get('tracker'):
         class="selected"
    >
    <a href="$self_url(tracker=tracker)" title="$tracker  ($num)">$crop(tracker, 20) ($num)</a>
    </li>
</ul>


<div class="title">$_('Keyword')</div>
<input type="text" name="keyword" id="keyword" value="$get('keyword')" style="width:100px;padding:0px"
title="$_('Filter on a keyword')"
/>
$if get('keyword'):
    <img src="$base/static/images/tango/edit-clear.png" alt="$_('Clear')"
    onclick="el('keyword').value='';el('category_form').submit();"
    >
    <!--1st button widget is default , i dont want that here, using an image instead :(-->


</div>
</form>
</div>


