$def with (title, active_tab="NONE")
<html>
<head>
    <title>Deluge:$title</title>
    <link rel="icon" href="$base/static/images/deluge_icon.gif" type="image/gif" />
    <link rel="shortcut icon" href="$base/static/images/deluge_icon.gif" type="image/gif" />
    <script language="javascript" src="$base/static/deluge.js"></script>
    <link rel="stylesheet" type="text/css" href="$base/static/simple_site_style.css" />
</head>

<body>
<div id="page">

<a href='$base/home'>
    <div id="simple_logo">
    <div class="title">Deluge</div>
    <div class="info">$title</div>
    </div>
</a>
<div id="main_content">

<div id="main">
<center>
