$def with (title, active_tab="NONE")
<html>
    <head>
        <title>Deluge:$title</title>
        <link rel="icon" href="$base/static/images/deluge-icon.png" type="image/png" />
	    <link rel="shortcut icon" href="$base/static/images/deluge-icon.png" type="image/png" />
        <link rel="stylesheet" type="text/css" href="$base/static/simple_site_style.css" />
    </head>
    <body>
        <div id="page">
<!---
            <a href='$base/home'>
                <div id="simple_logo">

                </div>
            </a>
-->
   <img src="$base/static/images/deluge32.png" style="position:absolute;top:5px;"\>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;

<div style="padding-left:50px">
    <span class="title">Deluge</span>
    <a
    $if 'home' == active_tab:
         class="tab_button_active"
    $else:
        class="tab_button"
    href='$base/home'>Home</a>

<!--ADMIN-TABS-->
$for id, title, url in admin_pages:
    <a
    $if id == active_tab:
         class="tab_button_active"
    $else:
        class="tab_button"
    href='$base$url'>$title</a>
<a href="http://dev.deluge-torrent.org/wiki/Faq">Faq</a>

</div>
            <div id="main_content">
                <div id="main">
                    <center>
